<!DOCTYPE html>
<html lang="en">
<head>
	<base href="/">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta	name="version" content="%%GULP_INJECT_VERSION%%">
	
	<link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon.png">
  <link rel="manifest" href="assets/manifest.json">
  <link rel="mask-icon" href="assets/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	
	<title ng-bind="ngMeta.title"></title>   
	<meta name="author" content="{{ngMeta['author']}}" />
	<meta name="description" content="{{ngMeta.description}}" />

	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css">
	<link rel="stylesheet" href="//cdn.quilljs.com/1.3.5/quill.snow.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/dropzone/5.2.0/min/dropzone.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
		<div class="app" ui-view></div>
		<!-- Angular Material requires Angular.js Libraries -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-animate.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-aria.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-messages.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-cookies.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-sanitize.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-resource.min.js"></script>
		
		<!-- Angular Material Library -->
		<script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
 		<!-- UI-Router -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.3/angular-ui-router.min.js"></script>
		<!-- Loading bar -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js"></script>
		<!-- Lodash -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
		<!-- jQuery -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- Dropzone -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/dropzone/5.2.0/min/dropzone.min.js"></script>
		<!-- ngDropzone -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/ng-dropzone/2.0.2/ng-dropzone.min.js"></script>
		<!-- ng-quill -->
		<script src="//cdn.quilljs.com/1.3.5/quill.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/ng-quill/3.5.1/ng-quill.min.js"></script>
		<!-- Restangular -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/restangular/1.6.1/restangular.min.js"></script>
		<!-- ngMeta -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/ng-meta/1.0.2/ngMeta.min.js"></script>
		
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116459535-1"></script>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123733432-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-123733432-1');
</script>
</body>
</html>