

<div class="institucional" layout="row"  layout-align="center top">
 		<div   layout="row" layout-align="center center">
		<span style="text-align: center; margin-top: 20px; font-size: 40px; color: #727272; font-family: pacifico-regular, sans-serif;">Institucional</span>
		</div>
</div>
<div class="institucional" layout="row" layout-padding layout-align="center top">			
		<div flex="70" flex-md="80" flex-sm="80" flex-xs="80" >

		<p>
				El Plan de Robótica Educativa es una iniciativa de la Dirección General de Cultura y Educación de la Provincia de Buenos Aires que busca promover los campos de conocimientos emergentes del Pensamiento Computacional, la Programación y la Robótica en la escuela, apostando por la capacitación permanente del docente y la formación integral de los alumnos en cuanto al desarrollo de habilidades y competencias para su inserción plena en la sociedad del conocimiento. El Plan garantiza el acceso a los dispositivos necesarios para llevarlo adelante y contempla la generación de contenidos que enlazan la Robótica a la currícula.
		</p>

		<p>
				El objetivo principal es que los alumnos aprendan Pensamiento Computacional, Programación y Robótica pero fundamentalmente promover nuevas estrategias de aprendizaje y enseñanza. 
		</p>

		<p>
				En este marco, el Plan Provincial está conformado por tres ejes principales: en primer lugar, la <strong> entrega de kits de Robótica </strong> a todas las escuelas estatales primarias de la provincia. Se entregarán tres modelos distintos y cada uno incluye: una caja tecnológica, material didáctico impreso y digital y un entorno de programación virtual. En segundo lugar, la <strong> capacitación docente </strong> -antes y durante los talleres en el aula-, sobre “Programación y su didáctica” con puntaje, aulas virtuales y la Plataforma Robótica Educativa con material didáctico. Por último, el <strong> dictado de talleres en el aula </strong> a cargo de facilitadores que acompañarán al docente, conformando así una pareja pedagógica. El facilitador dictará cuatro talleres por mes en cada escuela en 5to y 6to año de primaria y serán transversales a todas las materias. 
		</p>
		<p>
				La Robótica y la Tecnología en el aula fomentan un aprendizaje innovador y colaborativo a la vez que impulsan el aprendizaje basado en proyectos, permitiendo a los alumnos trabajar interdisciplinariamente. Además promueven el desarrollo de otras habilidades fundamentales relacionadas con la resolución de problemas y la toma de decisiones, haciendo hincapié en las inherentes al desempeño social como la seguridad en uno mismo, el liderazgo y la búsqueda de desafíos. 
		</p>
	</div>
</div>