<div flex style="background-color: #ecf4fbbf">
	<div layout="row "  style="margin-bottom: 80px;">
		<a class="impact-text-large titkits"
		 ui-sref="social.kitsDisponibles"> ‹ VOLVER A KITS TECNOLÓGICOS</a>
	</div>
	
	
	
</div>
<div class="content">
	<div>
		<div flex layout="row" layout-align="start strech" layout-sm="column"  layout-xs="column">
			
			<div flex style="text-align: center;">
				<img class="responsiveK" ng-src="assets/T-BOT.jpg" class="pointer">			
			</div>
			
			<div flex style="text-align: center;">
				<p style="text-align: left;font-family: pacifico-regular, sans-serif; color: #5EA7F1; font-size: 35px;">Kit <span style="font-family: DINNextRoundedLTPro-Regular;font-size: 46px; color: darkgray;">T-BOT</span></p>
			
				<p class="pKit" style=" margin-top: 6%; text-align: left;">
				Permite realizar diversas construcciones a través de la combinación de
				<strong>piezas plásticas</strong> unidas por tornillos con diversos componentes
				electrónicos. 
				
				</p>
				</br>
				</br>
				<p class="pKit" style="text-align: left;">
				El kit incluye una placa controladora basada en <strong> Arduino Nano</strong> y un
				entorno de <strong>programación por bloques</strong>,que permite darle órdenes de
				manera sencilla al robot.
				</p>			
			</div>		
		</div>
	</div>
</div>
<div  style="margin-top:10px; ">
	
	<div flex layout="row" layout-align="start strech" layout-sm="column"  layout-xs="column">
		
		<div flex class="divL">
			<div flex class="desc" >
				<img  class="imgIcono" ng-src="assets/icon_programa_kit.png" class="pointer">
					
				<p style="text-align: left; color: black; font-size: 15px;
				line-height: 23px ;  font-family: DINNextRoundedLTPro-regular; margin-top: 2%;">
				Provee el software <strong>  Minibloq </strong> para
				programar el kit utilizando bloques con
				íconos fáciles de identificar.					
				</p>
			</div>
		
			<div flex class="botonLbotK">
					<a  style="color: #8BBF1F; text-decoration:  none;   
					font-family: DINNextRoundedLTPro-Regular;font-size: 14px;font-weight:  bold;"  
				href="https://drive.google.com/drive/u/1/folders/1vm1-1jxUPcExjHazen3qYzovRERrWg4P"  target="_blank" >Programa
				<img ng-src="assets/iconolbot.png" style="margin-left: 10px;" class="pointer"></a>
			</div>	
		</div>
		
		<div flex class="divR">
				<div flex class="desc">
					<img  class="imgIcono" ng-src="assets/icon_material_kit.png" class="pointer">
						
					<p style="text-align: left; color: black; font-size: 15px;
					line-height: 23px ;  font-family: DINNextRoundedLTPro-regular; margin-top: 2%;">
					El <strong> Material Didáctico</strong>  incluye manuales con
					secuencias para armar estructuras
					mecánicas y guías de actividades divididas
					por años con proyectos para diseñar
					máquinas de uso cotidiano que incluyen
					problematizaciones, ejercicios, instrucciones
					y programas de ejemplo.  				
					</p>
				</div>
			
				<div flex class="botonLbotK">
						<a  style="color: #8BBF1F; text-decoration:  none;   
						font-family: DINNextRoundedLTPro-Regular;font-size: 14px;font-weight:  bold;"  
					href="https://drive.google.com/drive/u/1/folders/1FYu6tCmcL496KNS8v0hK9JJUdGR4llC4"  target="_blank" >Manterial didáctico
					<img ng-src="assets/iconolbot.png" style="margin-left: 10px;" class="pointer"></a>
				</div>	
			</div>
	</div>

</div>
<div class="content" style="margin-bottom: 5%;">
	<div>
		<div flex layout="row" layout-align="start strech" layout-sm="column"  layout-xs="column">			
			<div flex style="text-align: center;">
				<p class="pKit3" style="font-family: DINNextRoundedLTPro-Regular; font-weight: bold; color: #8BBF1F; font-size: 35px;">¿Qué se puede hacer <br>
					con este Kit? </p>
			
				<p class="pKit pKit3" style=" margin-top: 6%; ">
					<strong> T-BOT </strong>  permite realizar construcciones mecánicas de gran
					complejidad que incluyan palancas, ejes, engranajes y
					poleas como ascensores y grúas y robots móviles con
					sensores de luz y seguimiento de línea.			
				</p>
				
					<div class="imgK3" style=" margin-top: 6%;">
						<div class="imgK3L">
							<img  ng-src="assets/T-Bot-que-se-puede-hacer-02.png" class="pointer" >
							<p style="text-align:  center; font-size: 12px;">ODÓMETRO</p>
						</div>
						<div>
							<img ng-src="assets/T-Bot-que-se-puede-hacer-03.png" class="pointer" >
							<p style="text-align:  center; font-size: 12px;">ASCENSOR</p>
						</div>
					</div>
				</div>
				<div flex style="text-align: center;" id="divID"   ng-init="imgsrc='assets/T-Bot-que-se-puede-hacer-01.png'" ng-mouseover="imgsrc='assets/t-bot.gif'" ng-mouseout="imgsrc='assets/t-bot-pausa.gif'">
					<img class="responsiveK" ng-src="{{imgsrc}}"/>
					<p style="text-align: center; font-size: 12px;">ROBOT MOVIL</p>			
				</div>			
			</div>
				
		</div>
	</div>

	<div>	
		<div style="text-align: center;	margin-bottom: -80px;">
			<img ng-src="assets/icon_destacado.png" class="pointer">
		</div>
	
		<div class="parallaxKits" style="background-image: url(/assets/T-Bot-parallax.png); height: 300px;">
				
			<div class="disText" style="display: table;">						
				<p style="text-align: center; color: white; font-size: 20px;
				line-height: 23px ;  font-family: DINNextRoundedLTPro-light; margin-top: 25%;">
				Permite construir y automatizar estructuras
				mecánicas de gran complejidad y conocer cómo
				funcionan algunas máquinas de uso cotidiano. 
				</p>						
			</div>				
		</div>
	</div>
	<div class="content">
			<div>
				<div flex layout="row" layout-align="start strech" layout-sm="column"  layout-xs="column" style="margin-top: 80px;">
					
					<div flex style="text-align: center;">
						<img class="responsiveK" ng-src="assets/T-Bot-partes-que-lo-componen.png" class="pointer">			
					</div>
					
					<div flex style="text-align: left;">
						<p style="text-align: left;font-family:  DINNextRoundedLTPro-Regular, sans-serif; color: #8BBF1F; font-size: 22px; font-weight: bold; margin-bottom: 20px;">Partes que lo componen</p>
					
						<img ng-src="assets/flecha.png" style="text-align: left; margin-right: 10px;" class="pointer"><span style="font-size: 14px;font-family: DINNextRoundedLTPro-light;">Placa controladora basada en Arduino Nano (DuinoBot v2.4)
							con conectores de entrada/salida y un led indicador. </span>
						<hr style="width: 40%;">
						<img ng-src="assets/flecha.png" style="text-align: left; margin-right: 10px;" class="pointer"><span style="font-size: 14px;font-family: DINNextRoundedLTPro-light;">Dos sensores de luz (LDR) y uno infrarrojo (IR).  </span>
						<hr style="width: 40%;">
						<img ng-src="assets/flecha.png" style="text-align: left; margin-right: 10px;" class="pointer"><span style="font-size: 14px;font-family: DINNextRoundedLTPro-light;"> Dos motores CC.
							 </span>
						<hr style="width: 40%;">
						<img ng-src="assets/flecha.png" style="text-align: left; margin-right: 10px;" class="pointer"><span style="font-size: 14px;font-family: DINNextRoundedLTPro-light;"> Gran variedad de piezas mecánicas como palancas, ejes,
							engranajes y poleas. </span>					
								
					</div>		
				</div>
			</div>
		</div>
			
	


