.resources_waterfall {
	margin-top: -2rem;
	margin-bottom: 12rem;
}

.imgPropuesta {
	width: 25%;
	margin: 5%;
}

.content_wrapper {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	position: relative;
	height: 100px;
	margin-bottom: 20%;
}

.carddemoBasicUsage .card-media {
	background-color: #999999;
}

.one_half {
	position: relative;
	z-index: 2;
	//float: left;
	word-wrap: break-word;
	width: 48%;
}

.respNum {
	display: flex;
	justify-content: space-between;
}

.responsive {
	width: 100%;
	height: auto;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}

.last {
	margin-right: 0 !important;
	clear: right;
	margin-left: 2%;
}

.disText {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 40%;
	//margin-bottom: 30px;
	position: relative;
	margin-top: 50px;
	margin-bottom: 30px;
}

#myBtn {
	background-color: #8BBF1F;
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
	border: none;
	outline: none;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
}

#myBtn:hover {
	background-color: #5EA7F1;
	/* Add a dark-grey background on hover */
}

.textKit {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	//width: 40%;
	//margin-bottom: 30px;
	position: relative;
	margin-top: 50px;
	margin-bottom: 30px;
}

.titulos {
	font-size: 40px;
	line-height: 50px;
	margin-bottom: 10px;
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 840px) {
	.disText,
	.one_half,
	.textKit {
		width: 100%;
	}

	.divVideo {
		text-align: center;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}

	.divBotones {
		margin-top: 1%;
		margin-bottom: 1%;
	}

	.wf-box {
		margin: 0 !important;
	}

	.imgPropuesta {
		width: 100% !important;
		margin-left: auto !important;
		margin-right: auto !important;
		text-align: center !important;
		padding: 5% !important;
	}

	.textoVideo {
		width: unset !important;
	}

	.cardsgral {
		position: relative !important;
		height: auto !important;
		margin-left: 10px !important;
		margin-top: 40px !important;
	}

	.divslide,
	.imgfondo {
		background-repeat: no-repeat !important;
		background-size: cover !important;
		background-position: center top !important;
		width: 100% !important;
		height: 20rem !important;
		visibility: inherit !important;
	}

	.subhead {
		font-size: 2rem !important;
		text-align: center!important;
		//margin-left: 30px !important;
		font-family: DINNextRoundedLTPro-Regular !important;
		font-weight: bold !important;
		color: white!important;
		margin-top: 1% !important;
	}

	.subhead2 {
		font-family: pacifico-regular !important;
		font-size: 2rem !important;
		text-align: center !important;
		color: white;
	}

	.botonSlider {
		background-color: #8BBF1F !important;
		color: white !important;
		//  border-radius: 7%!important;
		// padding-left: 5% !important;
		// padding-right: 5% !important;
		// padding-bottom: 2% !important;
		// padding-top: 2% !important;
		text-decoration: none !important;
		font-size: 12px !important;
		//padding: 2% !important;
		// margin-bottom: 2px !important;
	}

	.ban_content {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.texto {
		//display: table !important;
		min-height: 0 !important;
		min-width: 0 !important;
		border-width: 0 !important;
		letter-spacing: 0 !important;
		//margin-left: 30px !important;
		width: 200px !important;
		font-size: 1rem !important;
		text-align: center !important;
	}

	.titulos {
		font-size: 30pt !important;
	}

	.titHead {
		font-size: 0.8rem !important;
	}

	.respNum {
		justify-content: space-between !important;
		display: block !important;
	}

	.rowparallax {
		display: table !important;

		.rowparallaxk {
			display: table !important;

			.responsive {
				width: 100% !important;
				height: auto !important;
			}
		}
	}

	.cards {
		float: none !important;
	}
}
@media only screen and (min-width: 850px) and (max-width: 990px) {
	.textoVideo {
		width: unset !important;
	}

	.divVideo {
		text-align: center;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}

	.divBotones {
		margin-top: 1%;
		margin-bottom: 1%;
	}

	.divslide {
		background-repeat: no-repeat !important;
		background-size: cover !important;
		background-position: center top !important;
		width: 100% !important;
		height: 20rem !important;
		visibility: inherit !important;
	}

	.subhead {
		font-size: 2rem !important;
		//margin-left: 80px !important;
		font-family: DINNextRoundedLTPro-Regular !important;
		text-align: center !important;
		font-weight: bold !important;
		color: white !important;
	}

	.subhead2 {
		font-family: pacifico-regular !important;
		font-size: 2rem !important;
		text-align: center !important;
		color: white;
	}

	.botonSlider {
		background-color: #8BBF1F !important;
		color: white !important;
		border-radius: 9px 9px 9px 9px;
		//padding-left: 1% !important;
		//padding-left: 5% !important;
		//padding-right: 5% !important;
		//padding-bottom: 2% !important;
		//padding-top: 2% !important;
		text-decoration: none !important;
		font-size: 10px !important;
		//margin-bottom: 2px !important;
	}

	.imgPropuesta {
		width: 100% !important;
		margin-left: auto !important;
		margin-right: auto !important;
		text-align: center !important;
		padding: 5% !important;
	}
}

.titHead {
	height: 22px;
	background: rgb(175, 174, 174);
	color: white;
	text-align: center;
	font-size: 1.3rem;
	padding-top: 3px;
}

.texto {
	//display: table;
	min-height: 0;
	min-width: 0;
	border-width: 0;
	letter-spacing: 0;
	//margin-left: 80px;
	//  width: 500px;
	font-family: DINNextRoundedLTPro-Medium !important;
	text-align: center;
}

.textoBanner {
	display: table;
	min-height: 0;
	min-width: 0;
	border-width: 0;
	letter-spacing: 0;
	margin-left: 80px;
	width: 500px;
	font-family: DINNextRoundedLTPro-Medium !important;
}

.subhead {
	color: white;
	font-size: 47pt;
	text-align: center;
	//margin-left: 80px;
	font-family: DINNextRoundedLTPro-Regular;
	font-weight: bold;
}

.subhead2 {
	font-family: pacifico-regular;
	font-size: 30px;
	text-align: center;
	color: white;
}

.botonSlider {
	background-color: #8BBF1F !important;
	color: white !important;
	border-radius: 9px 9px 9px 9px;
	text-decoration: none !important;
	font-size: 10px !important;
}

.legend {
	color: white;
	font-size: 3rem;
	//background-image: url(/assets/filtro_gris.png);
	//background-repeat: no-repeat;
	//background-position: center;
	//position: relative;
}

.ban_content {
	margin-left: 10px;
	margin-right: auto;
	margin-top: 10%;
	text-align: left;
}

.cardsgral {
	position: relative;
	//height: 300px;
	height: auto;
	margin-left: 10%;
	margin-top: 40px;
}

.cards {
	position: relative;
	//float: left;
}

.next,
.prev {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.next:hover,
.prev:hover {
	background-color: rgba(0,0,0,0.8);
}

.divslide {
	height: 43rem;
	background-repeat: no-repeat !important;
	position: relative;
	background-size: 100%;
}

.dot1 {
	text-align: center !important;
	position: absolute !important;
	bottom: 5px;
}

.imgfondo {
	-webkit-background-size: 100%;
	height: auto;
	//background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	//background-size: cover;
}

.textoVideo {
	margin-bottom: 2%;
	width: 600px;
	font-size: 18px;
	color: #4D4D4D;
	font-family: DINNextRoundedLTPro-Regular;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.cont {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
	display: table;
	content: " ";
}

.rowparallaxk {
	margin-right: -15px;
	margin-left: -15px;
	display: block;
	content: " ";
	//padding-bottom: 3%;
}

.pcomoempezar {
	margin-top: 10px !important;
	font-family: DINNextRoundedLTPro-Regular !important;
	font-weight: bold !important;
}

.acomoempezar {
	text-align: center;
	color: black;
	font-family: DINNextRoundedLTPro-Regular !important;
	font-weight: bold;
	text-decoration: none;
}
//estilo slider

* {
	box-sizing: border-box;
}

body {
	font-family: Verdana, sans-serif;
	margin: 0;
}

.mySlides {
	display: none;
}

img {
	vertical-align: middle;
}
/* Slideshow container
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}*/
/* Next & previous buttons */
.next,
.prev {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	//display: none;
}
/* Position the "next button" to the right */

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */

.next:hover,
.prev:hover {
	background-color: rgba(0,0,0,0.8);
}
/* Caption text */

.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}
/* Number text (1/3 etc) */

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
/* The dots/bullets/indicators */

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: darkgrey;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.prueba {
	background-color: white !important;
}

.active,
.dot:hover {
	background-color: white;
}
/* Fading animation */

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {
		opacity: 0.4;
	}

	to {
		opacity: 1;
	}
}
@keyframes fade {
	from {
		opacity: 0.4;
	}

	to {
		opacity: 1;
	}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 56.25em) {
	height: 20rem;

	.next,
	.prev,
	.slideshow-container,
	.text {
		font-size: 59rem;
	}
}

.divVideo {
	text-align: center;
	margin-top: 7%;
	margin-bottom: 5%;
}

.ui-carousel .carousel-btn,
.v-middle {
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
/*@font-face {
  font-family: "ui-carousel";
  src: url("fonts/ui-carousel.eot");
  src: url("fonts/ui-carousel.eot?#iefix") format("embedded-opentype"), url("fonts/ui-carousel.woff") format("woff"), url("fonts/ui-carousel.ttf") format("truetype"), url("fonts/ui-carousel.svg#ui-carousel") format("svg");
  font-weight: normal;
  font-style: normal; }*/
[data-icon]:before {
	font-family: "ui-carousel" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="ui-icon-"]:before,
[class*=" ui-icon-"]:before {
	font-family: "ui-carousel" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ui-icon-prev:before {
	content: "<";
}

.ui-icon-next:before {
	content: ">";
}

.ui-icon-dot:before {
	content: "\63";
}

.ui-carousel {
	display: block;
}

.ui-carousel .carousel-wrapper {
	position: relative;
}

.ui-carousel .track-wrapper {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.ui-carousel .track {
	position: relative;
	display: block;
	float: left;
}

.ui-carousel .slide {
	float: left;
	height: 100%;
	min-height: 1px;
}

.ui-carousel .carousel-btn {
	position: absolute;
	z-index: 10;
	font-size: 20px;
	opacity: 0.75;
	padding: 0.5%;
}

.ui-carousel .carousel-btn:hover {
	opacity: 1;
}

.ui-carousel .carousel-prev .carousel-btn {
	left: 25px;
}

.ui-carousel .carousel-next .carousel-btn {
	right: 25px;
}

.ui-carousel .carousel-disable {
	opacity: 0.5;
}

.ui-carousel .carousel-disable .carousel-btn:hover {
	opacity: 0.75;
}

.carousel-dots {
	position: absolute;
	bottom: -30px;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}

.carousel-dots li {
	position: relative;
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.carousel-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 15px;
	height: 15px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}

.carousel-dots li button:before {
	font-family: ui-carousel;
	font-size: 9px;
	line-height: 15px;
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	content: "\63";
	text-align: center;
	opacity: 0.25;
	color: black;
	-webkit-font-smoothing: antialiased;
}

.carousel-dots li.carousel-active button:before {
	opacity: 0.75;
}
//nuevo

.wf-container {
	margin: 0 auto;
}

.wf-container:after,
.wf-container:before {
	content: '';
	display: table;
}

.wf-container:after {
	clear: both;
}

.wf-box {
	margin: 10px;
}

.wf-box img {
	display: block;
	width: 100%;
}

.wf-box .content {
	border: 1px solid #ccc;
	border-top-width: 0;
	padding: 5px 8px;
}

.wf-column {
	float: left;
}
// home robotica educativa (ivan)

.bot {
	font-family: DINNextRoundedLTPro-Regular;
	font-size: 26px;
	font-weight: bold;
	color: darkgray;
}

.Kits {
	margin-top: 3%;
}

.Kits:hover {
	transform: scale(1.1);
}

.btnVerm {
	width: 11%;
	position: absolute;
	margin-top: -5%;
	margin-left: 71%;
	color: white;
	background-color: #8BBF1F;
	border: none;
	height: 33px;
	border-radius: 4%;
}

.vermass {
	text-decoration: none;
	font-family: DINNextRoundedLTPro-Regular;
	font-size: 18px;
}

.parr-roboticaeducativa {
	text-align: -webkit-right;
	color: white;
	font-size: 15px;
	line-height: 23px;
	font-family: DINNextRoundedLTPro-Medium;
	margin-top: 6%;
}

.parr-subtitulo {
	text-align: -webkit-right;
	color: white;
	margin-right: 0;
	margin-top: -4%;
	margin-bottom: 0;
	line-height: 50px;
	margin-bottom: 10px;
	font-family: pacifico-regular;
	font-size: 36px;
}

.parr-tit {
	text-align: -webkit-right;
	color: white;
	font-family: DINNextRoundedLTPro-Regular;
	font-size: 48px;
	line-height: 50px;
	margin-bottom: 18px;
	font-weight: bold;
}

.logo-re {
	margin-top: -13%;
	margin-left: 45.5%;
}

.disText {
	margin-left: 8%;
	margin-right: auto;
	text-align: center;
	width: 40%;
	position: relative;
	margin-top: 50px;
	margin-bottom: 30px;
}

.video {
	width: 100%;
	margin-top: -240px;
	margin-bottom: 50px;
	margin-left: 114%;
}
@media (min-width: 480px) {
	#myBtn {
		display: none !important;
	}
}
// media div robotica educativa (ivan)
@media (max-width: 1024px) {
	.parr-roboticaeducativa {
		text-align: center;
	}

	.logo-re {
		margin-top: -67%;
		margin-left: 49.5%;
	}

	.parr-subtitulo {
		text-align: center;
	}

	.parr-tit {
		text-align: center;
	}

	.video {
		width: 100%;
		margin-top: 17%;
		margin-bottom: 10%;
		margin-left: 0;
	}

	.disText {
		width: 80%;
		margin-left: auto;
	}
}
@media (max-width: 720px) {
	.vermass {
		font-size: 12px;
	}
}
@media (max-width: 480px) {
	.vermass {
		font-size: 8px;
	}

	.btnVerm {
		height: 2%;
	}
}
@media screen and (min-width: 768px) {
	.wf-container {
		width: 750px;
	}

	#myBtn {
		display: none;
	}
}
@media screen and (min-width: 992px) {
	.wf-container {
		width: 970px;
	}
}
@media screen and (min-width: 1200px) {
	.wf-container {
		width: 1170px;
	}
}

.divBotones {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 1px solid lightgrey;
	padding: 18px 40px;
	border-radius: 5px;
	margin-left: 1%;
	margin-right: 1%;
}
