<div flex class="header-bkg">
	<div layout="row " layout-align="center center">
		<p class="impact-text-large" style="text-align: center; margin-top: 20px; font-size: 40px; color: #727272; font-family: pacifico-regular, sans-serif;">Fundamentación de la robótica educativa</p>
	</div>
	<div style="margin-bottom: 2%;">
		<P class="impact-text-large" style="text-align: center; margin-top: 14px; font-size: 18px; color: #4D4D4D; font-family: DINNextRoundedLTPro-Light;">La robótica educativa es una estrategia de aprendizaje interdisciplinaria que emplea robots para potenciar el desarrollo de  </br>
			habilidades y competencias de los alumnos como el pensamiento computacional y la programación.</P>
	</div>
	<div class="textoVideo" style="width: 800px; color: #5EA7F1">
		La inclusión de recursos digitales se propone con una impronta transversal a las demás áreas curriculares a partir de las seis dimensiones planteadas en el Diseño Curricular.
	</div>

	<div layout="row" layout-align="start strech" layout-sm="column"  layout-xs="column" style="    margin-left: 5%; margin-right: 5%;">
		<div flex  class="divBotones">
			
			<a  style="color: #5EA7F1; text-decoration:  none;   
				font-family: DINNextRoundedLTPro-Regular;font-size: 14px;font-weight:  bold;" 
				href="assets/NAP.pdf"  target="_blank" download="NAP.pdf">NAP - Programación y Robótica
				<img ng-src="assets/pdf.png" style="margin-left: 10px;" class="pointer">
			</a>
		</div>
		<div flex class="divBotones">
			<a  style="color: #5EA7F1; text-decoration:  none;   
			font-family: DINNextRoundedLTPro-Regular;font-size: 14px;font-weight:  bold;" 
				href="assets/fundamentacion.pdf"  target="_blank" download="fundamentacion.pdf">Fundamentación
				<img ng-src="assets/pdf.png" style="margin-left: 10px;" class="pointer">
			</a>
		</div>
		<div flex class="divBotones">
					<a  style="color: #5EA7F1; text-decoration:  none;   
					font-family: DINNextRoundedLTPro-Regular;font-size: 14px;font-weight:  bold;"  
				href="assets/modulo-TIC-primaria.pdf"  target="_blank" download="modulo-TIC-primaria.pdf">Módulo TIC DC
				<img ng-src="assets/pdf.png" style="margin-left: 10px;" class="pointer"></a>
			</div>
	</div>

	<div flex layout="row" layout-align="start strech" layout-sm="column"  layout-xs="column" style="margin-left: 20%; margin-right: 20%">
		<div flex >
			<img class="responsive" ng-click="$ctrl.tabSelect=1"  ng-src="{{$ctrl.tabSelect==1 && 'assets/images/1_on.png' || 'assets/images/1_off.png'}}" class="pointer">
		</div>
		<div flex >
			<img class="responsive" ng-click="$ctrl.tabSelect=2" ng-src="{{$ctrl.tabSelect==2 && 'assets/images/2_on.png' || 'assets/images/2_off.png'}}" class="pointer">
		</div>
		<div flex >
			<img  class="responsive" ng-click="$ctrl.tabSelect=3"ng-src="{{$ctrl.tabSelect==3 && 'assets/images/3_on.png' || 'assets/images/3_off.png'}}" class="pointer">
		</div>
	</div>
</div>

	<md-content flex layout-padding ng-show="$ctrl.tabSelect==1">
			<div class="comoEmpezar" layout="row" layout-padding layout-align="center top">
					<div flex="70" flex-md="90" flex-sm="90" flex-xs="90" >
					<!--h4 class="margin" style="color:rgba(33, 196, 216, 0.87);">Las ciencias de la computación son un campo de conocimiento que contribuye a comprender el mundo que nos rodea a partir del pensamiento crítico, reflexivo  y analítico ante la resolución  de  un problema.</h4>
					<p>El pensamiento computacional es la matriz conceptual de la programación y la robótica y brinda la posibilidad de resolver un problema complejo de manera planificada y creativa a través de diferentes estrategias de resolución.
					</p-->

					<h4 class="margin">¿POR QUÉ INCORPORAR EL PENSAMIENTO COMPUTACIONAL EN LAS ESCUELAS?</h4>


					<p> Desde la Dirección General de Cultura y Educación consideramos que el Pensamiento Computacional constituye una lógica de trabajo que, dentro del campo educativo, favorece la implementación de actividades creativas y colaborativas en pos del desarrollo de la capacidad de resolución de problemas de la vida cotidiana. Asimismo, permite al alumno adquirir habilidades y elaborar estrategias para pasar de ser consumidor de tecnología a productor de la misma. <br/><br/>

						Las estrategias de Programación y Robótica no se instalan en la educación como fin último para atender solamente aprendizajes relacionados con la formación científico-tecnológica: estos saberes son fundamentales para el cultivo de actitudes científicas básicas como el asombro, la curiosidad, el análisis y la investigación; a la vez que impulsan el desarrollo de otras habilidades fundamentales relacionadas con la resolución de problemas y la toma de decisiones, haciendo hincapié en la seguridad en uno mismo, el liderazgo, la autoestima, la búsqueda de desafíos y el trabajo en equipo.
						<!--br/>
						
						Para el desarrollo de las competencias en educación digital, les proponemos… -->
					</p>

					<img  class="responsive" ng-src="assets/images/image_pensamiento_computacional.png" >
							
					<h4 class="margin">EL APRENDIZAJE BASADO EN PROYECTOS</h4>

					<p>El desarrollo del Pensamiento Computacional se integra con el paradigma del Aprendizaje Basado en Proyectos (ABP), una estrategia de enseñanza fundamentada en la utilización de proyectos realistas para fomentar la adquisición de saberes y competencias. Se trata de una experiencia de aprendizaje significativo y es por ello que sugerimos crear propuestas que orienten el trabajo participativo de los alumnos para que ellos mismos puedan explorar, conocer, construir, crear y recrear el contexto sociocultural.
					</p>				
				</div>
			</div>
	</md-content>
	<md-content flex layout-padding ng-show="$ctrl.tabSelect==2">
			<div class="comoEmpezar" layout="row" layout-padding layout-align="center top">
					<div flex="70" flex-md="90" flex-sm="90" flex-xs="90" >
					<!--h4 class="margin" style="color:rgb(154, 201, 59)">“Para un niño, ser él quien decide y dirige una acción, y que como por arte de magia una iniciativa suya deviene realidad, es doblemente satisfactorio. Le da autonomía y lo hace sentir responsable e importante. Ver y no imaginar, comprobar que dio una orden y que como consecuencia algo sucedió, demuestra su capacidad y su éxito. La motivación nace de su propio logro: él es causa y efecto de su propia decisión”.</h4-->
	
					<h4 class="margin">¿QUÉ ES LA PROGRAMACIÓN?</h4>

					<p>La programación es una de las áreas más importantes de las ciencias de la computación y del pensamiento computacional. Es reconocida como una disciplina orientada al desarrollo de una serie de habilidades de abstracción y operacionalidad que puede verse como el proceso de diseñar y escribir una secuencia de instrucciones en un lenguaje determinado que pueda ser entendido y posteriormente reproducido por un autómata.</p>

					<p class="margin" style="color:rgb(154, 201, 59); font-weight: bold !important;">“Para un niño, ser él quien decide y dirige una acción, y que como por arte de magia una iniciativa suya deviene realidad, es doblemente satisfactorio. Le da autonomía y lo hace sentir responsable e importante. Ver y no imaginar, comprobar que dio una orden y que como consecuencia algo sucedió, demuestra su capacidad y su éxito. La motivación nace de su propio logro: él es causa y efecto de su propia decisión”.</p>
					
					<p style="text-align: right !important; font-weight: bold !important;">Paula y Valeria De Elía</p>
					
					<h4 class="margin">¿POR QUÉ PROGRAMAR EN EL AULA?</h4>


					<p>Los beneficios que obtienen nuestros alumnos al aprender a programar están vinculados, en primer lugar, al pensamiento y su articulación con el entorno; en segundo lugar, al desarrollo de las habilidades y/o competencias del Pensamiento Computacional que tienen que ver con el desarrollo del pensamiento abstracto, del pensamiento lógico-matemático y del pensamiento algorítmico. Cuando se habla de Programación, muchas veces se habla de “enseñar a pensar” en tanto pone en marcha procesos creativos que pueden ser realizados por grupos de trabajo (aprendizaje colaborativo). Además, contribuye al fortalecimiento de diferentes inteligencias a partir de proyectos compartidos en los que se ponen en juego las diversas áreas de conocimiento desde lo interpersonal e intrapersonal. Entendemos que enseñar a programar permite desarrollar la capacidad de previsión, la comprobación de resultados, la optimización de recursos y la toma de decisiones.
					   
						</p>
						<img  class="responsive" ng-src="assets/images/image_programacion.png" >
				
				</div>
			</div>
	</md-content>
	<md-content flex layout-padding ng-show="$ctrl.tabSelect==3">
			<div class="comoEmpezar" layout="row" layout-padding layout-align="center top">
					<div flex="70" flex-md="90" flex-sm="90" flex-xs="90" >
					<!--h4 class="margin" style="color:rgb(186, 96, 179)">En lo que respecta al aspecto social, tanto la robótica como la programación favorecen el trabajo en equipo y en colaboración.
					</h4-->
	
					<h4 class="margin">¿A QUÉ LLAMAMOS ROBÓTICA?</h4>

					<p>La Robótica constituye un área dentro de las Ciencias de la Computación que involucra automatización de tareas, Cibernética y Programación, entre otros aspectos inherentes al Pensamiento Computacional. La Robótica puede concebirse como un “medio de aprendizaje” en tanto permite el paso de las creaciones de un estado “mental” a uno físico, resultado de la combinación entre innovación educativa, propuesta pedagógica y recursos didácticos. La conjugación de estos procesos permite ir más allá del funcionamiento del robot, promoviendo el desarrollo de competencias relacionadas con la toma de decisiones, la formación científico-tecnológica y que propicien un clima áulico en lo que respecta a incentivar relaciones interpersonales, así como situaciones cotidianas de enseñanza en las que el trabajo colaborativo es fundamental.</p>

					
					<h4 class="margin">¿POR QUÉ INCORPORAR ROBÓTICA EN LAS ESCUELAS?</h4>


					<p>Debido a su carácter esencialmente colaborativo, tanto la Robótica como la Programación resultan fundamentales en la promoción del aprendizaje entre pares, que forma parte de los modos de construcción de conocimiento y de las culturas del mundo del trabajo de la sociedad digital. Como característica fundamental, la Robótica Educativa favorece los procesos de creación a partir del uso y manipulación de diversos materiales. Asimismo, la Robótica permite a los alumnos materializar el Pensamiento Computacional. Es decir, vivenciar el paso de lo “mental” a lo “físico”, hacer tangible el acierto/error y despertar nuevas vocaciones.  
						
						</p>
						<img  class="responsive" ng-src="assets/images/image_pensamiento_robotica.png" >
				</div>
			</div>
	</md-content>

	<div class="cont">
		<div class="rowparallaxk">
	<!--div  style="background-image: url(/assets/img/banner/slider_contanos.jpg); width: 100%; height: auto;"></div-->
	<a href="https://goo.gl/forms/bvPHnq7cuocWqFvd2"  target="_blank" rel="noopener noreferrer"  ng-disabled="true">
	<img class="responsive" ng-src="/assets/img/banner/slider_contanos.jpg" alt="Logo">
	</a>
	</div>
	</div>	



