<header class="dashboard__header">
	<rd-navbar class="navbar" rd-compact="true">
		<rd-navbar-brand>
				<div class="navbar__logo">
					<a ui-sref="curador.dashboard">
						<img ng-src="assets/robotica-logo.png" alt="Logo">
					</a>
				</div>
				<div class="navbar__logo--scrolled">
					<img ng-src="assets/robotica-logo-header.png" alt="Logo">
				</div>
				
		</rd-navbar-brand>
		<rd-navbar-navigation layout="row" layout-padding>
			<span flex></span>
			<div class="dashboard__navbar--caption">Admin</div>
		</rd-navbar-navigation>
		<rd-navbar-tools>
			<rd-navbar-item navbar-item-icon="mi mi-home" navbar-item-caption="Home" navbar-item-selected="true"></rd-navbar-item>
			<rd-navbar-item navbar-item-icon="mi mi-person" navbar-item-caption="Profile"></rd-navbar-item>
		</rd-navbar-tools>
		<rd-navbar-body>
		</rd-navbar-body>
	</rd-navbar>
</header>