<div flex style="background-color: #ecf4fbbf">
	<div layout="row "  style="margin-bottom: 80px;">
		<a class="impact-text-large titkits"
		 ui-sref="social.kitsDisponibles"> ‹ VOLVER A KITS TECNOLÓGICOS</a>
	</div>
	
	
	
</div>
<div class="content">
	<div>
		<div flex layout="row" layout-align="start strech" layout-sm="column"  layout-xs="column">
			
			<div flex style="text-align: center;">
				<img class="responsiveK" ng-src="assets/L-BOT.jpg" class="pointer">			
			</div>
			
			<div flex style="text-align: center;">
				<p style="text-align: left;font-family: pacifico-regular, sans-serif; color: #8BBF1F; font-size: 35px;">Kit <span style="font-family: DINNextRoundedLTPro-Regular;font-size: 46px; color: darkgray;">L-BOT</span></p>
			
				<p class="pKit" style=" margin-top: 6%; text-align: left;">
				Permite realizar distintas construcciones a partir de la combinación de
				<strong>piezas encastrables (ladrillos)</strong> con componentes electrónicos. 
				
				</p>
				</br>
				</br>
				<p class="pKit" style="text-align: left;">
				El kit incluye: una <strong> interfaz gráfica de programación</strong> por bloques que
				permite darle órdenes de manera sencilla al robot, un <strong>kit de expansión</strong>
				con sensores que amplían sus funcionalidades y <strong>material didáctico</strong>
				para utilizar en el aula.
				</p>			
			</div>		
		</div>
	</div>
</div>
<div  style="margin-top:10px; ">
	
	<div flex layout="row" layout-align="start strech" layout-sm="column"  layout-xs="column">
		
		<div flex class="divL">
			<div flex class="desc" >
				<img  class="imgIcono" ng-src="assets/icon_programa_kit.png" class="pointer">
					
				<p style="text-align: left; color: black; font-size: 15px;
				line-height: 23px ;  font-family: DINNextRoundedLTPro-regular; margin-top: 2%;">
				<strong> L-BOT</strong> provee el <strong> programa </strong> Ardublock para programar el kit utilizando bloques, que además
				permite ver el código fuente de un programa.
					<br>
					&nbsp;		
				</p>
			</div>
		
			<div flex class="botonLbotK">
					<a  style="color: #8BBF1F; text-decoration:  none;   
					font-family: DINNextRoundedLTPro-Regular;font-size: 14px;font-weight:  bold;"  
				href="https://drive.google.com/drive/u/1/folders/1PltrAHksPrE5qPRQKK2-SbOMvMyJlfkX"  target="_blank" >Programa
				<img ng-src="assets/iconolbot.png" style="margin-left: 10px;" class="pointer"></a>
			</div>	
		</div>
		
		<div flex class="divR">
				<div flex class="desc">
					<img  class="imgIcono" ng-src="assets/icon_material_kit.png" class="pointer">
						
					<p style="text-align: left; color: black; font-size: 15px;
					line-height: 23px ;  font-family: DINNextRoundedLTPro-regular; margin-top: 2%;">
					Con <strong> Material Didáctico</strong> que incluye actividades centradas en el área de matemática a partir de
					disparadores temáticos, guías de armado de las diferentes construcciones y programas de ejemplo. 				
					</p>
				</div>
			
				<div flex class="botonLbotK">
						<a  style="color: #8BBF1F; text-decoration:  none;   
						font-family: DINNextRoundedLTPro-Regular;font-size: 14px;font-weight:  bold;"  
					href="https://drive.google.com/drive/u/1/folders/1zYpmY1oX8xTuBQGOU2Q2NTV0ZFbc3GKn"  target="_blank" >Manterial didáctico
					<img ng-src="assets/iconolbot.png" style="margin-left: 10px;" class="pointer"></a>
				</div>	
			</div>
	</div>

</div>
<div class="content" style="margin-bottom: 5%;">
	<div>
		<div flex layout="row" layout-align="start strech" layout-sm="column"  layout-xs="column">			
			<div flex style="text-align: center;">
				<p class="pKit3" style="font-family: DINNextRoundedLTPro-Regular; font-weight: bold; color: #8BBF1F; font-size: 35px;">¿Qué se puede hacer <br>
					con este Kit? </p>
			
				<p class="pKit pKit3" style=" margin-top: 6%; ">
					<strong> L-BOT </strong> permite realizar construcciones mecánicas simples como
					molinos de viento, puentes y grúas; y robots más complejos centrados
					en la movilidad y las mediciones a través de sensores. Además, sus
					piezas encastrables promueven la creatividad de los alumnos al
					permitirle realizar sus propios diseños.
				
				</p>
				
					<div class="imgK3" style=" margin-top: 6%;">
						<div class="imgK3L">
							<img  ng-src="assets/l_bot_barrera.png" class="pointer" >
							<p style="text-align:  center; font-size: 12px;">ESTACIÓN DE PEAJE</p>
						</div>
						<div>
							<img ng-src="assets/l_bot_odometro.png" class="pointer" >
							<p style="text-align:  center; font-size: 12px;">ODÓMETRO</p>
						</div>
					</div>
				</div>
				<div flex style="text-align: center;" id="divID"  ng-init="imgsrc='assets/l_bot_movil.png'" ng-mouseover="imgsrc='assets/l-bot.gif'" ng-mouseout="imgsrc='assets/l-bot-pausa.gif'">
					<img class="responsiveK" ng-src="{{imgsrc}}"/>
					<p style="text-align: center; font-size: 12px;">ROBOT MOVIL</p>			
				</div>			
			</div>
				
		</div>
	</div>

	<div>	
		<div style="text-align: center;	margin-bottom: -80px;">
			<img ng-src="assets/icon_destacado.png" class="pointer">
		</div>
	
		<div class="parallaxKits" style="background-image: url(/assets/t_bot_parallax.jpg); height: 300px;">
				
			<div class="disText" style="display: table;">						
				<p style="text-align: center; color: white; font-size: 20px;
				line-height: 23px ;  font-family: DINNextRoundedLTPro-light; margin-top: 25%;">
				Las piezas encastrables permiten a los alumnos 
				diseñar sus propios robots de manera sencilla.
				</p>						
			</div>				
		</div>
	</div>
	<div class="content">
			<div>
				<div flex layout="row" layout-align="start strech" layout-sm="column"  layout-xs="column" style="margin-top: 80px;">
					
					<div flex style="text-align: center;">
						<img class="responsiveK" ng-src="assets/l_bot_componentes.png" class="pointer">			
					</div>
					
					<div flex style="text-align: left;">
						<p style="text-align: left;font-family:  DINNextRoundedLTPro-Regular, sans-serif; color: #8BBF1F; font-size: 22px; font-weight: bold; margin-bottom: 20px;">Partes que lo componen</p>
					
						<img ng-src="assets/flecha.png" style="text-align: left; margin-right: 10px;" class="pointer"><span style="font-size: 14px;font-family: DINNextRoundedLTPro-light;">Placa controladora simil Arduino Genuino (ladrillo R8+) con 8
								entradas y salidas </span>
						<hr style="width: 40%;">
						<img ng-src="assets/flecha.png" style="text-align: left; margin-right: 10px;" class="pointer"><span style="font-size: 14px;font-family: DINNextRoundedLTPro-light;">Sensor infrarrojo para detectar un control remoto y un mini parlante
								para reproducir melodías y sonidos básicos. </span>
						<hr style="width: 40%;">
						<img ng-src="assets/flecha.png" style="text-align: left; margin-right: 10px;" class="pointer"><span style="font-size: 14px;font-family: DINNextRoundedLTPro-light;"> Su estructura está conformada por piezas plásticas encastrables
								(ladrillos). </span>
						<hr style="width: 40%;">
						<img ng-src="assets/flecha.png" style="text-align: left; margin-right: 10px;" class="pointer"><span style="font-size: 14px;font-family: DINNextRoundedLTPro-light;"> El kit de expansión incorpora una ámplia gama de sensores: Led,
								Infrarrojos, Microfono, Tacto, Ultrasonido, Humedad de suelo,
								Temperatura y humedad ambiente, Lluvia, Magnético. </span>
						
								
					</div>		
				</div>
			</div>
		</div>
			
	


