/* GLOBALS */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection {
    background: transparent; 
}

::-moz-selection {
    background: transparent; 
}

.wrapper-demo {
    margin: 60px 0 0 0;
    *zoom: 1;
    font-weight: 400;
    position: relative;
}

.wrapper-demo:after {
    clear: both;
    content: "";
    display: table;
}

@media only screen and (max-width: 840px) {
    .wrapper-dropdown-3   {
        padding: 3px !important;
        width: auto !important;
    }

    .wrapper-dropdown-3:after{
        border-style: hidden !important;
    }

    .imgSearch{
        margin-top: 5px !important ;
    }
    .popup .popuptext::after {
        content: "";
        //position: absolute;
        //top: 100%;
        left: 50% !important;
       
      }

      .popup .popuptext {
       
        text-align: center !important; 
        margin-left: auto !important;
        margin-right: auto !important;
      }
      
      
}

.searchCont{
    display: inline-block;
    margin-bottom: 1%;
    border: 1px solid #D1CED2;
    padding: 7px;
    border-radius: 7px;
   // width: 40%;
}

.imgSearch{
    float: right !important; 
    margin-top: auto;
}

.popup {
    position: relative;
   // display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 5%;
  }
  
  /* The actual popup */
  .popup .popuptext {
    //visibility: hidden;
    width: 180px;
    background-color:#8BBF1F;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    //position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    display: table;
    //text-align: center; 
    margin-left: 52%;
    //margin-right: auto;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    //position: absolute;
    //top: 100%;
    left: 60%;
    border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #8BBF1F;
      position: absolute;
      top: -5px;
  }
  

.searchInput{
    //margin: 0 auto !important;
    padding: 10px !important;
    background: #fff !important;
     border-radius: 0px !important;
    border: 0px solid !important;
    border-right: 1px solid #D1CED2 !important;
    border-left: 1px solid #D1CED2 !important;
    margin-left: 10px;
    //width: 50%;
}

.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
   // width: 300px;
    //margin-left: 30%;
    padding: 10px;
    float: left;

    /* Styles */
    background: #fff;
    /*border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;*/
    outline: none;

    /* Font settings */
    font-weight: bold;
    color: #8AA8BD;
   
}

/*.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: -5px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #8aa8bd transparent;
}*/

.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;

    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}
/*
.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}
*/
.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #8aa8bd;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #f3f8f8;
}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}

md-checkbox.md-checked.green .md-icon {
    background-color: #8BBF1F !important;
    
    border-radius: 5px !important;
   }

   md-checkbox:not(.md-checked) .md-icon {
    border-color: grey;
    border-radius: 5px !important;
}

   md-checkbox {
    //margin: 8px;
    //margin-left: 90% !important;
    margin-left: 5% !important;
    border-radius: 5px !important;
    cursor: pointer;
    //padding-left: 18px;
    padding-right: 0;
   // line-height: 26px;
    min-width: 18px;
    min-height: 18px;
    margin-top: 3%;
    
  }

  md-checkbox .md-label{
    font-size: 10px !important;
  }

   .linea{
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #eee;
  }
  
  