<div flex style="background-color: #ecf4fbbf">
	<div layout="row "  style="margin-bottom: 80px;">
		<a class="impact-text-large titkits"
		 ui-sref="social.kitsDisponibles"> ‹ VOLVER A KITS TECNOLÓGICOS</a>
	</div>
	
	
	
</div>
<div class="content">
	<div>
		<div flex layout="row" layout-align="start strech" layout-sm="column"  layout-xs="column">
			
			<div flex style="text-align: center;">
				<img class="responsiveK" ng-src="assets/E-BOT.jpg" class="pointer">			
			</div>
			
			<div flex style="text-align: center;">
				<p style="text-align: left;font-family: pacifico-regular, sans-serif; color: #BB62B3; font-size: 35px;">Kit <span style="font-family: DINNextRoundedLTPro-Regular;font-size: 46px; color: darkgray;">E-BOT</span></p>
			
				<p class="pKit" style=" margin-top: 6%; text-align: left;">
				Permite realizar diversas construcciones a partir de
				<strong>piezas metálicas</strong> unidas por tornillos y componentes electrónicos. 
				
				</p>
				</br>
				</br>
				<p class="pKit" style="text-align: left;">
				El kit incluye una placa controladora basada en <strong> Arduino Uno</strong> con una
				gran cantidad de entradas/salidas sobre la que se pueden trabajar
				nociones de de electrónica y una interfaz gráfica de programación por
				bloques con versiones on y offline.
				</p>			
			</div>		
		</div>
	</div>
</div>
<div  style="margin-top:10px; ">
	
	<div flex layout="row" layout-align="start strech" layout-sm="column"  layout-xs="column">
		
		<div flex class="divL">
			<div flex class="desc" >
				<img  class="imgIcono" ng-src="assets/icon_programa_kit.png" class="pointer">
					
				<p style="text-align: left; color: black; font-size: 15px;
				line-height: 23px ;  font-family: DINNextRoundedLTPro-regular; margin-top: 2%;">
				<strong> E-BOT</strong> provee una <strong>  plataforma de programación </strong> por bloques y aprendizaje en robótica llamada
				Educablock que permite generar proyectos y
				asignar tareas a los alumnos. El mismo tiene una
				versión offline para instalar en una computadora
				y otra online que requiere registración. 							
				</p>
			</div>
		
			<div flex class="botonLbotK">
					<a  style="color: #8BBF1F; text-decoration:  none;   
					font-family: DINNextRoundedLTPro-Regular;font-size: 14px;font-weight:  bold;"  
				href="https://drive.google.com/open?id=1rkFZYxrOOZw6TQ26pcGw1OsEVD5FPtdr"  target="_blank" >Programa
				<img ng-src="assets/iconolbot.png" style="margin-left: 10px;" class="pointer"></a>
			</div>	
		</div>
		
		<div flex class="divR">
				<div flex class="desc">
					<img  class="imgIcono" ng-src="assets/icon_material_kit.png" class="pointer">
						
					<p style="text-align: left; color: black; font-size: 15px;
					line-height: 23px ;  font-family: DINNextRoundedLTPro-regular; margin-top: 2%;">
					El <strong> Material Didáctico</strong>  incluye un manual con las
					especificaciones de la plataforma de
					programación, el detalle de los componentes
					electrónicos y mecánicos y una guía de
					actividades con proyectos divididos en años.  				
					</p>
				</div>
			
				<div flex class="botonLbotK">
						<a  style="color: #8BBF1F; text-decoration:  none;   
						font-family: DINNextRoundedLTPro-Regular;font-size: 14px;font-weight:  bold;"  
					href="https://drive.google.com/open?id=1uOztuW4SJ2OYe5qoNkck6g-R0cHSyT6o"  target="_blank" >Manterial didáctico
					<img ng-src="assets/iconolbot.png" style="margin-left: 10px;" class="pointer"></a>
				</div>	
			</div>
	</div>

</div>
<div class="content" style="margin-bottom: 5%;">
	<div>
		<div flex layout="row" layout-align="start strech" layout-sm="column"  layout-xs="column">			
			<div flex style="text-align: center;">
				<p class="pKit3" style="font-family: DINNextRoundedLTPro-Regular; font-weight: bold; color: #8BBF1F; font-size: 35px;">¿Qué se puede hacer <br>
					con este Kit? </p>
			
				<p class="pKit pKit3" style=" margin-top: 6%; ">
					<strong> E-BOT </strong>  permite realizar construcciones mecánicas simples
					como molinos de viento y semáforos; robots móviles y
					estaciones con una ámplia variedad de sensores para medir
					diversos aspectos del ambiente. 
					
				
				</p>
				
					<div class="imgK3" style=" margin-top: 6%;">
						<div class="imgK3L">
							<img  ng-src="assets/E-Bot-que-se-puede-hacer-02.png" class="pointer" >
							<p style="text-align:  center; font-size: 12px;">DISCO DE NEWTON</p>
						</div>
						<div>
							<img ng-src="assets/E-Bot-que-se-puede-hacer-03.png" class="pointer" >
							<p style="text-align:  center; font-size: 12px;">MEDIDOR DE SALINIDAD DEL AGUA</p>
						</div>
					</div>
				</div>
				

				<div flex style="text-align: center;" id="divID" ng-init="imgsrc='assets/E-Bot-que-se-puede-hacer-01.png'" ng-mouseover="imgsrc='assets/e-bot.gif'" ng-mouseout="imgsrc='assets/e-bot-pausa.gif'">
					<img class="responsiveK" ng-src="{{imgsrc}}"/>
					<p style="text-align: center; font-size: 12px;">ROBOT MOVIL</p>			
				</div>			
			</div>
				
		</div>
	</div>

	<div>	
		<div style="text-align: center;	margin-bottom: -80px;">
			<img ng-src="assets/icon_destacado.png" class="pointer">
		</div>
	
		<div class="parallaxKits" style="background-image: url(/assets/E-Bot-parallax.jpg); height: 300px;">
				
			<div class="disText" style="display: table;">						
				<p style="text-align: center; color: white; font-size: 20px;
				line-height: 23px ;  font-family: DINNextRoundedLTPro-light; margin-top: 25%;">
				Permite realizar proyectos escalables en cuanto a su
				complejidad y trabajar nociones de electrónica
				directamente desde la placa controladora. 
				</p>						
			</div>				
		</div>
	</div>
	<div class="content">
			<div>
				<div flex layout="row" layout-align="start strech" layout-sm="column"  layout-xs="column" style="margin-top: 80px;">
					
					<div flex style="text-align: center;">
						<img class="responsiveK" ng-src="assets/E-Bot-partes-que-lo-componen.png" class="pointer">			
					</div>
					
					<div flex style="text-align: left;">
						<p style="text-align: left;font-family:  DINNextRoundedLTPro-Regular, sans-serif; color: #8BBF1F; font-size: 22px; font-weight: bold; margin-bottom: 20px;">Partes que lo componen</p>
					
						<img ng-src="assets/flecha.png" style="text-align: left; margin-right: 10px;" class="pointer"><span style="font-size: 14px;font-family: DINNextRoundedLTPro-light;">Placa controladora basada en Arduino Uno con 14 entradas/salidas
							digitales y 6 entradas analógicas, sobre las cuáles se puede trabajar
							conceptos de electrónica. </span>
						<hr style="width: 40%;">
						<img ng-src="assets/flecha.png" style="text-align: left; margin-right: 10px;" class="pointer"><span style="font-size: 14px;font-family: DINNextRoundedLTPro-light;">La estructura mecánica está conformada por piezas metálicas
							unidas por tornillos y tuercas.  </span>
						<hr style="width: 40%;">
						<img ng-src="assets/flecha.png" style="text-align: left; margin-right: 10px;" class="pointer"><span style="font-size: 14px;font-family: DINNextRoundedLTPro-light;"> Incorpora una ámplia gama de sensores: Magnético, Óptico,
							Ultrasonido, Sumergible, Potenciometro, Humedad Ambiente,
							Humedad de Suelo, Obstáculo.
							 </span>
						<hr style="width: 40%;">
						<img ng-src="assets/flecha.png" style="text-align: left; margin-right: 10px;" class="pointer"><span style="font-size: 14px;font-family: DINNextRoundedLTPro-light;"> Incluye la herramienta de invención electrónica Makey Makey para
							manipular el kit y realizar otros proyectos.  </span>					
								
					</div>		
				</div>
			</div>
		</div>
			
	


