.banner__dashboard--home {
	background-color: $color-dashboard;
	height: 43rem;
	background-image: url(/assets/img/banner/imagen-fondo_celeste.jpg);
	background-repeat: no-repeat;
    background-position: center;
    position: relative;

}

.banner__content {
	//transform: translateY(-50%);
}

.banner__avatar {
	margin-right: 2rem;
	transform: translateY(-50%);
	
	&--wrapper {
		width: 50px;
		height: 50px;
		@include robotica-shape;
	}
}