<header class="header">

	
				<div class="footer" layout="row" layout-align="center center" layout-xs="row" ng-show="!$ctrl.isMobile">
					<div flex style="height: 70px;"></div>
					<div>
						<img src="/assets/logo_educacion_ba.png" alt="logo-ba">
					</div>
					<div flex="5"></div>
					<div>			
						<img style="margin-right: 80px;" src="/assets/logo-ba.png" alt="logo-ba">  
					</div>
				</div>
		

	<rd-navbar class="navbar" rd-items="$ctrl.menuNavBar" rd-compact="$ctrl.$state.includes('social.buscar')" ng-class="{'navbar__search' : $ctrl.$state.includes('social.buscar') }">
		<rd-navbar-brand>
				<div class="navbar__logo">
					<a ui-sref="social.home({seccion: null})">
						<img ng-src="assets/roboton_blanco.png" alt="Logo">
					</a>
				</div>
				<div class="navbar__logo--scrolled">
					<a ui-sref="social.home({seccion: null})">
						<img ng-src="assets/robotica-logo-header.png" alt="Logo">
					</a>
				</div>
		</rd-navbar-brand>
		<rd-navbar-navigation  layout="row" layout-padding ng-if="$ctrl.$state.includes('social.buscar')">
				<div flex>
						<md-autocomplete
								md-input-id="mainSearch"
								ng-disabled="$ctrl.isDisabled"
								md-no-cache="$ctrl.noCache"
								md-selected-item="$ctrl.selectedItem"
								md-search-text-change="$ctrl.searchTextChange($ctrl.searchText)"
								md-search-text="$ctrl.searchText"
								md-selected-item-change="$ctrl.selectedItemChange(item)"
								md-items="item in $ctrl.querySearch($ctrl.searchText)"
								md-item-text="item.caption"
								md-min-length="0"
								placeholder="Filtrar"
								md-menu-class="autocomplete-custom-template",
								ng-model-options="{ 'debounce': 300 }"
								>
							<md-item-template>
								<span class="item-title">
									<i class="fa" ng-class="item.icon"></i>
									<span> {{item.caption}} </span>
								</span>

							</md-item-template>
						
						</md-autocomplete>


					</div>
		</rd-navbar-navigation>
		<rd-navbar-navigation>
			<rd-navbar-item 
				ng-repeat="item in $ctrl.menuNavBar"
				ng-model="item"  ng-if="!item.soloMobile"
							menu-sections-name="$ctrl.arraySectionsName"
				navbar-item-selected="item.section === $ctrl.selected"
				ng-click="$ctrl.itemClicked(item)"
				tabindex="0">
			</rd-navbar-item>
		</rd-navbar-navigation>
		
		<rd-navbar-body>
		</rd-navbar-body>
	</rd-navbar>
</header>
<div class="titHead">PLATAFORMA DE FORMACIÓN CONTINUA EN ROBÓTICA Y PROGRAMACIÓN PARA NIVEL PRIMARIO</div>