.banner {
  &__head {
    color: white;
    font-size: 5.2rem;
    font-weight: $font-secondary-extra-light;
  }
  
  &__subhead {
    color: white;
    font-size: 3.8rem;
  }

  &__legend {
    color: white;
    font-size: 2.4rem;
  }
  
  &__wrapper {
    width: 86rem;
    margin: 0 auto;
  }

  &__home {
    //background-color: $color-primary;
    height: 43rem;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 448px;
      height: 400px;
    }

    &--legend {
      h1 {
        font-family: $font-family-secondary;

        small, strong {
          color: inherit;
          font-family: $font-family-secondary;
        }

        strong {
          font-weight: $font-secondary-extra-bold;
        }
      }

      p {
        font-size: 126%;
      }
    }

    // Banner home
    

    &[section="home"] &--legend {
      h1 { color: $color-white; }
      p { color: $color-white; }
    }

    // Banner institucional
    &[section="institucional"],
    &[section="noticias"],
    &[section="calendario"],
    &[section="kits"],
    &[section="comoempezar"],{
      background-image: url(/assets/img/banner/imagen-fondo_violeta.jpg);
      background-color: #894AA5;
    }

     &[section="sabiasQue"],
     &[section="loquehacemos"],
     &[section="novedades"],
     &[section="home"]{
      background-image: url(/assets/img/banner/index_back.png);
      
    }

    // Banner video
    &[section="video"],
    &[section="herramientas"],
    &[section="mediateca"],
    &[section="documentos"]{
      background-image: url(/assets/img/banner/institucional_back.jpg);
      background-color: #D1D1D1;
    }

    &[section="herramientas"] &--legend {
      h1 { color: $color-herramientas; }
      p { color: $color-black-light;}
    }

    &[section="herramientas"] &--legend,
    &[section="noticias"] &--legend,
    &[section="calendario"] &--legend,
    &[section="sabiasQue"] &--legend,
    &[section="mediateca"] &--legend,
    &[section="loquehacemos"] &--legend,
    &[section="novedades"] &--legend,
    &[section="documentos"] &--legend,
    &[section="kits"] &--legend,
    &[section="home"] &--legend  {
      padding-top: 15rem;
      padding-right: 4rem;
      text-align: right;
    }

    &[section="herramientas"] &--image,
    &[section="noticias"] &--image,
    &[section="calendario"] &--image,
    &[section="sabiasQue"] &--image,
    &[section="loquehacemos"] &--image,
    &[section="mediateca"] &--image,
    &[section="novedades"] &--image,
    &[section="documentos"] &--image,
    &[section="kits"] &--image,
    &[section="home"] &--image {
      float: left;
    }

    &[section="home"] &--image {
      padding-top: 50px;
      height: 10%;
      width: 20%;
    }
    

    &[section="noticias"] &--legend {
      h1 { color: $color-black; }
      p { color: $color-black;}
    }

    &[section="calendario"] &--legend {
      h1 { color: $color-black; }
      p { color: $color-black;}
    }

    &[section="documentos"] &--legend {
      h1 { color: $color-black; }
      p { color: $color-black;}
    }


    &[section="sabiasQue"] &--legend {
      h1 { color: $color-black; }
      p { color: $color-black;}
    }

    &[section="loquehacemos"] &--legend {
      h1 { color: $color-black; }
      p { color: $color-black;}
    }

    &[section="novedades"] &--legend {
      h1 { color: $color-black; }
      p { color: $color-black;}
    }


    &[section="mediateca"] &--legend {
      h1 { color: $color-black; }
      p { color: $color-black;}
    }

    &[section="kits"] &--legend {
      h1 { color: $color-black; }
      p { color: $color-black;}
    }

    &[section="herramientas"] &--legend {
      h1 { color: $color-black; }
      p { color: $color-black;}
    }
  }
}

// responsive
.banner {

  @include respond(big-desktop){
  }

  @include respond(tab-land){
    &__wrapper {
      width: 70rem;
    }

    &__home {
      // fix on 900 - 1200px
      height: 30rem;
      background-size: 89rem;
      
      &--image {
        display: none;
      }

      &[section="home"] &--legend,
      &[section="propuestas"] &--legend,
      &[section="actividades"] &--legend,
      &[section="herramientas"] &--legend,
      &[section="orientaciones"] &--legend,
      &[section="mediateca"] &--legend,
      &[section="noticias"] &--legend,
      &[section="calendario"] &--legend,
      &[section="sabiasQue"] &--legend,
      &[section="loquehacemos"] &--legend,
      &[section="novedades"] &--legend,
      &[section="documentos"] &--legend,
      &[section="kits"] &--legend{
        width: 40rem;
        margin: 0 auto;
        padding-top: 5rem;
      }
    }
  }
  
  @include respond(tab-port){
    &__wrapper {
      width: 50rem;
    }

    &__home {
      // fix on 600 - 900px
      height: 20rem;
      background-size: 59rem;
      
      &--image {
        display: none;
      }
      
      // SECTIONS

      &[section="institucional"] p {
        font-size: 1.7rem;
		    line-height: 1.7rem;
      }

      // herramientas
      &[section="home"] &--legend,
      &[section="herramientas"] &--legend,
      &[section="noticias"] &--legend,
      &[section="calendario"] &--legend,
      &[section="sabiasQue"] &--legend,
      &[section="loquehacemos"] &--legend,
      &[section="novedades"] &--legend,
      &[section="documentos"] &--legend,
      &[section="mediateca"] &--legend,
      &[section="kits"] &--legend {
        width: 40rem;
        margin: 0 auto;
        padding-top: .5rem;
      }
    }
  }

  @include respond(phone){

    &__wrapper {
      width: 34rem;
      padding: 0;
    }

    &__home {
      // fix on 0 - 600px
      height: 13rem;
      background-size: 40rem;
      
      &--image {
        display: none;
      }

      // SECTIONS

      // home
      &[section="home"] &--legend {
        width: 85%;
        margin: 0 auto;
        padding-top: .5rem;
      }

      &[section="institucional"] p {
        font-size: 1.4rem;
		    line-height: 1.4rem;
        width: 80%;
        margin: 0 auto;
      }
      
      &[section="institucional"] .institucional--logo {
        margin-top: -30px;
      }     
      
      &[section="home"] &--legend p {
        display: none;
      }

      &[section="home"] &--legend h1,
      &[section="home"] &--legend h1 span {
        font-size: 1.6em !important;
      }
 
      
      // actividades
      &[section="herramientas"] &--legend,
      &[section="noticias"] &--legend,
      &[section="calendario"] &--legend,
      &[section="sabiasQue"] &--legend,
      &[section="mediateca"] &--legend,
      &[section="loquehacemos"] &--legend,
      &[section="novedades"] &--legend,
      &[section="documentos"] &--legend,
      &[section="kits"] &--legend{
        width: 60%;
        margin: 0 auto;
        padding-top: 2rem;
      }


      &[section="herramientas"] &--legend p ,
      &[section="noticias"] &--legend p,
      &[section="calendario"] &--legend p,
      &[section="sabiasQue"] &--legend p,
      &[section="mediateca"] &--legend p,
      &[section="loquehacemos"] &--legend p,
      &[section="novedades"] &--legend p,
      &[section="documentos"] &--legend p,
      &[section="kits"] &--legend p{
        display: none;
      }

      &[section="herramientas"] &--legend h1,
      &[section="herramientas"] &--legend h1 span,
      &[section="noticias"] &--legend h1,
      &[section="noticias"] &--legend h1 span,
      &[section="calendario"] &--legend h1,
      &[section="calendario"] &--legend h1 span,
      &[section="sabiasQue"] &--legend h1,
      &[section="sabiasQue"] &--legend h1 span,
      &[section="loquehacemos"] &--legend h1,
      &[section="loquehacemos"] &--legend h1 span,
      &[section="novedades"] &--legend h1,
      &[section="novedades"] &--legend h1 span,
      &[section="documentos"] &--legend h1,
      &[section="documentos"] &--legend h1 span,
      &[section="mediateca"] &--legend h1,
      &[section="mediateca"] &--legend h1 span,
      &[section="kits"] &--legend h1,
      &[section="kits"] &--legend h1 span {
        font-size: 1.6em !important;
      }
    }
  }
  
}
